/* 
Default values:

Font family: Roboto condensed or something better
greenish blue #34C6D3; buttons, icons, links, lines & backgrounds
steel gray #41464B; headings
blue bayyoux #64787B; paragraphs
white for text with black backgrounds
 */

/* font-family: 'Alegreya', serif;

font-family: 'Lato', sans-serif;
 */

/* body {
	font-family: lato;
} */

/* ---- */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700,800');

.btn-custom:hover {
	background-color: #0767d4 !important;
}
html,
body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
}

.jumbotron h1 {
	color: #244770;
}

h1 {
	font-weight: 600;
	text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc, 1px 2px 1px #eeeeee, 3px 2px 1px #cccccc,
		2px 3px 1px #eeeeee, 4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc, 4px 5px 1px #eeeeee,
		6px 5px 1px #cccccc, 5px 6px 1px #eeeeee, 7px 6px 1px #cccccc;
}
.display-2 {
	color: #F4825A;
}

h2 {
	color: #343953;
	font-weight: 600;

	text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc, 1px 2px 1px #eeeeee, 3px 2px 1px #cccccc,
		2px 3px 1px #eeeeee, 4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc, 4px 5px 1px #eeeeee,
		6px 5px 1px #cccccc, 5px 6px 1px #eeeeee, 7px 6px 1px #cccccc;
}

h3 > .carousel-item {
	color: #CDD2FF;
}
h5 {
	font-weight: 600;
	color: #090e3d;
}
footer {
	background-color: #262a35;
	color: #d5d5d5;
	padding-top: 2rem;
	opacity: .9;
}

footer h5 {
	color: inherit;
	text-shadow: none;
	font-weight: 400;
}

footer h2 {
	text-shadow: none;
}

footer .container-fluid {
	padding-bottom: 0px;
}

footer h2 a {
	color: #d5d5d5;
	transition: .3s;
}

footer a:hover,
footer .hiddenli:hover {
	color: #8a8989;
	transition: .3s;
	font-style: none;
}

hr.light {
	border-top: 1px solid #9b9b9b;
	width: 100%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

span img {
	width: 5%;
}

#collapseOne img {
	max-height: 50%;
	max-width: 70%;
}

.ch3 {
	font-weight: 800;
	color: #CED6FF;
}
.pb-1 {
	color: #F4825A !important;
}
.navbar {
	padding: .8rem;
}

.navbar-nav li {
	padding-right: 20px;
}
.nav-link {
	font-size: 1.3em !important;
}
.btn-link {
	color: #eeecec;
	font-weight: 800;
	font-style: italic;
	font-size: 1.2rem;

	text-shadow: 3px 5px 2px #535353;
}

.btn-link:hover {
	color: #e9ecf8;
	font-weight: 800;
}
.caption-text {
	font-weight: 800;
	color: #ffffff;
	text-shadow: 0 -1px 4px #fff, 0 -2px 10px rgb(243, 114, 9), 0 -10px 20px #ebbe2a, 0 -18px 40px #f00;
}

.card-body {
	font-weight: 400;
	font-size: 1.2rem;
}

.card-header:hover {
	background-color: rgba(27, 19, 136, 0.726) !important;
	transition: .7s;
}

.card-header:hover .fa-chevron-down {
	color: #1cecc9;
	transition: .7s;
}

.carousel-inner .btn {
	opacity: 0.7;
}

.mb-0 > button {
	display: inline-block;
	width: 100%;
	padding: 0.75rem 1.25rem;
}

.card-header {
	margin-top: 15px;
	padding: 0;
	background-color: rgba(46, 43, 196, 0.726);
}

.card:nth-of-type(even) .card-header {
	background-color: rgba(90, 88, 233, 0.726);
}

.carousel-inner img {
	/* display: block; */
	height: 100%;
	width: 100%;
	/* margin: 0 auto; */
}

.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-40%);
}

.carousel-caption h1 {
	font-size: 500%;
	/* text-transform: uppercase; */
	text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
	font-size: 200%;
	font-weight: 500;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 1px;
}

#contact-1 .card-body {
	background: #f8f9fa;
}

.contact-form {
	background: rgba(55, 58, 59, 0.747);
	color: white;
	margin-top: 35px;
	padding: 20px;
	box-shadow: 10px 5px 10px 3px grey;
	font-weight: 500;
}

.contact-form h1 {
	font-weight: 700;
	text-shadow: none;
}

.contact-form p:nth-of-type(2) {
	font-size: 0.9rem;
}

.custom-font-size {
	font-size: 1.7rem;
}

.custom-container {
	/* max-height: 100%;
	overflow-y: auto; */
	padding-left: 0;
	padding-right: 0;
}

.display-4 {
	font-weight: 800;
	color: #F4825A;
}

.btn-primary {
	background-color: #0b348b;
	border: 1px solid #563d7c;
}

.btn-primary:hover {
	background-color: #0b348b;
	border: 1px solid #563d7c;
	opacity: 1;
	transition: .5s;
}

.img-resize {
	width: 50%;
}

.img-resize-med {
	max-width: 93%;
}

.jumbotron {
	padding: 1rem;
	border-radius: 0;
}

.list-arrow {
	list-style-type: none;
	position: relative;
	padding-left: 15px;
}

.list-arrow:before {
	content: "\25BA \0020";
	font-size: 16px;
}
.list-arrow a,
.hidden-li a,
.hidden-li h5 {
	color: #ebe9e9;
}
.hidden-li {
	list-style-type: none;
}

.padding {
	padding-bottom: 2rem;
}

.welcome {
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}

.welcome hr {
	border-top: 2px solid #b4b4b4;
	width: 95%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}

.fa-code {
	color: #e54d26;
}
.fa-bold {
	color: #563d7c;
}

.fa-css3 {
	color: #2163af;
}
.fa-whatsapp {
	color: #098113;
	font-size: 6.1rem;
	margin: 1rem;
}

.fa-code,
.fa-bold,
.fa-css3 {
	font-size: 4em;
	margin: 1rem;
}

.zapp {
	width: 100%;
	margin-bottom: 2rem;
}

.contact {
	/* text-align: center; */
	margin: 0 auto;
	text-align: center;
}

.profile {
	padding-bottom: 1%;
}

.card:hover {
	background-color: #e9ebf0;
	transition: .5s;
}

.card-text:nth-of-type(even) {
	font-weight: 600;
	color: #4d3d4df1;
}
.list-group-item,
.card-header {
	border-width: 1px 2px 1px 2px;
	border-color: #14121f;
	border-style: groove;
}

.jumbotron {
	background-color: #f8f9fa;
}

.lead {
	color: #363b6e;
}
.navbar {
	border: 5px;
	border-style: solid;
	border-color: rgb(219, 221, 240);
}
.navbar-brand img {
	padding-top: 0px;
	padding: 0;
	border: 0;
	margin: 0;
	/* width: 75px;
	height: 61px; */
	vertical-align: top;
}
.nav-item {
	/* color: #444444; */
	font-weight: 600;
	/* background: #f8f9fa; */
	/* text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc, 1px 2px 1px #eeeeee, 3px 2px 1px #cccccc,
		2px 3px 1px #eeeeee, 4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc, 4px 5px 1px #eeeeee,
		6px 5px 1px #cccccc, 5px 6px 1px #eeeeee, 7px 6px 1px #cccccc; */
}

/* .navbar {
	max-height: 85px;
} */

.nav-link:hover {
	background-color: #e7e8ee;
}

.overlay {
	background-color: #f7f7f7;
}

/* .row-fluid {
	text-align: center;
}
.img-responsive {
	margin: 0 auto;
}
.img-responsive {
	vertical-align: middle;
}
.profile {
	vertical-align: middle;
	margin: 0 auto;
	text-align: center;
} */

/*---Media Queries --*/

@media (max-width: 2000px) {
	.carousel-inner > .carousel-item {
		height: 931px;
	}

	.carousel-control-next-icon,
	.carousel-control-prev-icon {
		width: 45px;
		height: 45px;
	}

	.img-resize {
		width: 40%;
	}
}
@media (max-width: 1700px) {
	.carousel-inner > .carousel-item {
		height: 771px;
	}
}

@media (max-width: 1440px) {
	.carousel-inner > .carousel-item {
		height: 755px;
	}
	.nav-link {
		font-size: 1.0rem !important;
	}
}
@media (max-width: 1100px) {
	.carousel-inner > .carousel-item {
		height: 735px;
	}

	.nav-item {
		font-size: 0.8rem;
	}
}
@media (max-width: 992px) {
	.card-img-top .img-resize {
		width: 100%;
	}

	.carousel-inner > .carousel-item {
		height: 670px;
	}

	.carousel-control-next-icon,
	.carousel-control-prev-icon {
		width: 35px;
		height: 35px;
	}

	.img-resize {
		width: 55%;
	}
}

@media (max-width: 768px) {
	.card-img-top .img-resize {
		width: 100%;
	}
	.carousel-caption {
		top: 45%;
	}

	.carousel-inner > .carousel-item {
		height: 470px;
	}

	.carousel-caption h1 {
		font-size: 350%;
		/* text-transform: uppercase; */
		text-shadow: 1px 1px 15px #000;
	}

	.carousel-caption h3 {
		font-size: 140%;
		font-weight: 400;
		/* text-shadow: 1px 1px 10px #000; */
		padding-bottom: .2rem;
	}

	.carousel-caption .btn {
		font-size: 95%;
		padding: 8px 14px;
	}

	.display-4 {
		font-size: 200%;
	}

	.img-resize {
		width: 60%;
	}
	.img-responsive {
		max-width: 50%;
	}
}
@media (max-width: 576px) {
	.card-img-top .img-resize {
		width: 100%;
	}
	.carousel-caption {
		top: 40%;
	}
	.btn {
		font-size: 0.8rem;
	}

	.carousel-caption h1 {
		font-size: 250%;
		/* text-transform: uppercase; */
		text-shadow: 1px 1px 15px #000;
	}

	.carousel-caption h3 {
		font-size: 110%;
		font-weight: 400;
		/* text-shadow: 1px 1px 10px #000; */
		padding-bottom: .2rem;
	}

	.carousel-caption .btn {
		font-size: 90%;
		padding: 4px 8px;
	}
	/* .carousel-indicators {
		display: none;
	} */
	.display-4 {
		font-size: 160%;
	}
	h2 {
		font-size: 160%;
	}

	.img-resize {
		width: 70%;
	}
	.img-resize-med {
		max-width: 100%;
	}
	.img-responsive {
		max-width: 30% !important;
		margin-right: -25px !important;
	}
	.navbar-toggler {
		max-width: 20%;
	}
}

/*---Firefox Bug Fix --*/
.carousel-item {
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
	position: relative;
	width: 100%;
	height: 60%;
	margin: 0 !important;
}
.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#fixed {
	background-image: url('img/mac.png');
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
	padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
